/*---FONTS----*/

/* manrope-regular - latin */
@font-face {
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/manrope-v8-latin-regular.eot'); /* IE9 Compat Modes */
	src: local(''),
		 url('../fonts/manrope-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/manrope-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../fonts/manrope-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
		 url('../fonts/manrope-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/manrope-v8-latin-regular.svg#Manrope') format('svg'); /* Legacy iOS */
  }
  /* manrope-500 - latin */
  @font-face {
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/manrope-v8-latin-500.eot'); /* IE9 Compat Modes */
	src: local(''),
		 url('../fonts/manrope-v8-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/manrope-v8-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../fonts/manrope-v8-latin-500.woff') format('woff'), /* Modern Browsers */
		 url('../fonts/manrope-v8-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/manrope-v8-latin-500.svg#Manrope') format('svg'); /* Legacy iOS */
  }
  /* manrope-600 - latin */
  @font-face {
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 600;
	src: url('../fonts/manrope-v8-latin-600.eot'); /* IE9 Compat Modes */
	src: local(''),
		 url('../fonts/manrope-v8-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/manrope-v8-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../fonts/manrope-v8-latin-600.woff') format('woff'), /* Modern Browsers */
		 url('../fonts/manrope-v8-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/manrope-v8-latin-600.svg#Manrope') format('svg'); /* Legacy iOS */
  }
  /* manrope-700 - latin */
  @font-face {
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/manrope-v8-latin-700.eot'); /* IE9 Compat Modes */
	src: local(''),
		 url('../fonts/manrope-v8-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/manrope-v8-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../fonts/manrope-v8-latin-700.woff') format('woff'), /* Modern Browsers */
		 url('../fonts/manrope-v8-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/manrope-v8-latin-700.svg#Manrope') format('svg'); /* Legacy iOS */
  }
  /* manrope-800 - latin */
  @font-face {
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 800;
	src: url('../fonts/manrope-v8-latin-800.eot'); /* IE9 Compat Modes */
	src: local(''),
		 url('../fonts/manrope-v8-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/manrope-v8-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../fonts/manrope-v8-latin-800.woff') format('woff'), /* Modern Browsers */
		 url('../fonts/manrope-v8-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/manrope-v8-latin-800.svg#Manrope') format('svg'); /* Legacy iOS */
  }

/* spartan-regular - latin */
@font-face {
	font-family: 'Spartan';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/spartan-v7-latin-regular.eot'); /* IE9 Compat Modes */
	src: local(''),
		 url('../fonts/spartan-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/spartan-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../fonts/spartan-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
		 url('../fonts/spartan-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/spartan-v7-latin-regular.svg#Spartan') format('svg'); /* Legacy iOS */
  }
  /* spartan-500 - latin */
  @font-face {
	font-family: 'Spartan';
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/spartan-v7-latin-500.eot'); /* IE9 Compat Modes */
	src: local(''),
		 url('../fonts/spartan-v7-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/spartan-v7-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../fonts/spartan-v7-latin-500.woff') format('woff'), /* Modern Browsers */
		 url('../fonts/spartan-v7-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/spartan-v7-latin-500.svg#Spartan') format('svg'); /* Legacy iOS */
  }
  /* spartan-600 - latin */
  @font-face {
	font-family: 'Spartan';
	font-style: normal;
	font-weight: 600;
	src: url('../fonts/spartan-v7-latin-600.eot'); /* IE9 Compat Modes */
	src: local(''),
		 url('../fonts/spartan-v7-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/spartan-v7-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../fonts/spartan-v7-latin-600.woff') format('woff'), /* Modern Browsers */
		 url('../fonts/spartan-v7-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/spartan-v7-latin-600.svg#Spartan') format('svg'); /* Legacy iOS */
  }
  /* spartan-900 - latin */
  @font-face {
	font-family: 'Spartan';
	font-style: normal;
	font-weight: 900;
	src: url('../fonts/spartan-v7-latin-900.eot'); /* IE9 Compat Modes */
	src: local(''),
		 url('../fonts/spartan-v7-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/spartan-v7-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../fonts/spartan-v7-latin-900.woff') format('woff'), /* Modern Browsers */
		 url('../fonts/spartan-v7-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/spartan-v7-latin-900.svg#Spartan') format('svg'); /* Legacy iOS */
  }
/*---ALLGEMEIN----*/

:root {
	font-family: 'Spartan';
	font-size: 17px;
}

h1 {
	font-size: 42px;
	padding: 10px;
	margin-bottom: 50px;
}

h3 {
	font-size: 32px;
	padding: 10px;
	font-weight: 600;
	line-height: 42px;
}

p {
	line-height: 28px;
}

.site {
	position: relative;
	max-width: 1440px;
	margin: 0 auto;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.inner {
	max-width: 1245px;
	width: 92%;
	margin: 0 auto;
	position: relative;
	display: flex;
}

li a {
	text-decoration: none;
	color: white;
	padding: 10px;
	transition: display 0.4s ease;
}

ul {
	list-style-type: none;
}

body {
	margin: 0;
}

/*---HEADER----*/
.header {
	position: relative;
	z-index: 1;
}

.header .inner {
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0px;
	width: 100%;
	margin: 10px 0px;
}

/*---Logo-----*/
.logo {
	background:url("/img/logo_neg_rgb.svg") no-repeat left center / contain;
	width: 141px;
	height: 71px;
}

.logo a span{
	display: none;
}

.logo a{
	width: 100%;
	height: 100%;
}

/*---NAVI-----*/
#nav {
	font-family: "Manrope"
}

#nav ul {
	display: flex;
}

#nav li {
	padding-right: 15px;
}

#nav a {
	margin-right: 50px;
}

#nav li:last-child {
	margin-right: -50px;
  }

/*---Subhead----*/

.subhead {
	position: relative;
}

.subhead img{
	width: 100%;
	height: 100%;
}

.subhead .inner {
	position: absolute;
	top: 50%;
 	left: 50%;
 	transform: translate(-50%, -50%);
}

.text-button {
	font-family: "Manrope";
	color: white;
}


.large-text {
	font-size: 72px;
	margin: 5px 0px;
	font-weight: 700;
	/* line-height: 98px; */
}

.mid-text {
	font-size: 40px;
	margin-top: 35px;
	margin-bottom: 30px;
/* 	line-height: 55px; */
}

.flug-icon{
	width: 90px;
	height: 113px;
	position: absolute;
	left: 48%;
	top: 83%;
	transition: 0.4s ease;
}

.flug-icon:hover {
	top: 85%;
}

.flug-icon img {
	width: 100%;
	height: 100%;
}

a.btn {
	background-color: #BE3232;
	padding: 10px 30px;
	color: white;
	margin: 10px 0px;
	border: none;
	padding: 15px 40px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 30px;
	font-size: 16px;
	font-family: "Spartan";
	transition: background 0.4s ease;
}


.underline-icon {
	height: 20px;
	display: none;
	transition: display 0.4s ease;
}

li a:hover + .underline-icon{
	display: block;
	
}

.btn:hover {
	background: #c43636;
	transition: background 0.4s ease;
}
/* Allcont */
.allcont {
	padding: 85px 0 0
}

.icon-txt-img {
	margin-top: 100px;
	display: flex;
}

.icon {
	padding: 0 50px;
}

.icon-txt-img p {
	padding: 10px;
	margin-right: 80px;
	line-height: 28px;
}

.text h3{
	margin-bottom: 20px;
}

.allcont .img img{
	-webkit-box-shadow: -13px 50px 0px 13px #003C64; 
	box-shadow: -13px 50px 0px 13px #003C64;
}



.img-txt {
	background-color: rgba(250, 250, 250, 1);
	margin-top: 180px;
	display: flex;
	padding-top: 80px;
}

.img-txt .txt {
	padding: 70px 110px 150px 115px;
}

.txt h3 {
	margin-bottom: 30px;
	padding: 0;
}

/* Slider */
.logo-wrapper {
	padding: 10px 0;
	margin: 50px 0;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	flex-direction: row-reverse;
}

.slider {
	width: 50%;
	margin-right: 70px;
}

.logos {
	display: flex;
	flex-wrap: wrap;
}

.logo-box {
	padding: 10px;
	margin: 10px;
	flex:calc(40% - 10px);
}

.txt-logo {
	padding-left: 50px;
}

.h3-logo {

}

.blue-box {
    color: white;
    display: flex;
    width: 40%;
    height: auto;
    align-items: flex-end;
}

.profile-txt {
    display: flex;
    align-items: center;
    border-radius: 5px;
    background-color: #003C64;
}

.profile-img {
    padding: 0 30px;
}

.bluebox-txt {
    padding: 40px 40px 40px 0;
}

.bluebox-txt p {
    position: relative;
    z-index: 1;
    font-size: 14px;
    line-height: 20px;
	padding-right: 5px;
}

.bluebox-txt p:after  {
    content: '';
    display: block;
    width: 70px;
    height: 60px;
    background-image: url(../img/quote.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: -30px;
    left: -20px;
    z-index: -1;
}

.bluebox-txt img {
    display: block;
    margin-left: auto;
    padding-bottom: 5px;
	margin-bottom: 5px;
}








/* .blue-box {
	color: white;
	display: flex;
	width: 50%;
	height: auto;
	align-items: center;
}

.profile-txt {
	display: flex;
	background-color: #003C64;
}

.profile-img {
	padding: 10px;
}

.bluebox-txt{
	padding: 5px;
} */

.slick-next {
	background: url("/img/right-arrow.svg") no-repeat center;
    position: absolute;
    z-index: 1000;
    top: 50%;
    right: 0;
}
.slick-prev {
	background: url("/img/left-arrow.svg") no-repeat center;
    position: absolute;
    z-index: 1000;
    top: 50%;
    left: 0;
}

.slick-next, .slick-prev {
	height: 45px;
	width: 34px;
	line-height: 0px;
	font-size: 0px;
	cursor: pointer;
	color: transparent;
	padding: 0;
	border: none;
	outline: none;
}
.bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 15px;
}

.bottom .left {
	color: #BE3232;
	font-weight: 500;
}

.shopping {
	background-color: #003C64;
    height: auto;
    position: relative;
}

.txt-button {
	color: white;
    /* background-color: salmon; */
    /* padding-left: calc((100% - 1245px)/2); */
}

.txt-button h3 {
	padding-top: 50px;
}

.txt-button p {
	padding: 10px;
}

.shopping .inner {
	max-width: 1245px;
	width: 92%;
	/* margin: 0 auto; */
	position: relative;
	display: flex;
	padding-left: calc((100% - 1245px)/2);
}

.products {
	display: flex;
    width: 92%;
    max-width: 1245px;
    margin: 0 auto;
    /* position: absolute; */
    /* left: 4%; */
    justify-content: space-around;
    transform: translateY(50%);
	
}
.product {
	background-color: white;
	/* padding: 35px; */
	display: flex;
	flex-direction: column;
	border-radius: 20px;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.48); 
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.48);
}

.product img {
	padding: 35px;
}

.product .product-txt {
	padding: 5px 0 5px 20px;
}

.price {
	font-weight: 600;
	padding-bottom: 20px;
	padding-left: 20px;
}

/* Footer */

.foot {
	background-color: #003C64;
	margin-top: 300px;
	color: white;
	font-family: "Manrope";
	font-size: 15;
}

.foot h5 {
	font-size: 18px;
}

.foot p {
	font-size: 15px;
}

.foot .inner {
	justify-content: space-between;
	padding: 30px 0;
	align-items: center;
}

.foot a {
	text-decoration: none;
	color: white;
}